body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.intro {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.flip-container {
	/* perspective: 1000px; */
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 420px;
	height: 400px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

    position: relative;
    
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
    align-items: center;
    background: #DEF2F1;
    border: 5px solid #3AAFA9;
    border-radius: 5%;
    color: #2B7A78;
    margin: 20px;
    height: 350px;
    padding: 0 20px;
    text-align: center;
    width: 330px;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    align-items: center;
    background: #DEF2F1;
    border: 5px solid #3AAFA9;
    border-radius: 5%;
    color: #2B7A78;
    margin: 20px;
    height: 350px;
    padding: 0 20px;
    text-align: center;
    width: 330px;
    transform: rotateY(180deg);
}
